<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table class="table table-striped">

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td>
          <h3><%= link_to blog.title, blog_path(blog), :class=>"" %></h3>
          <% if signed_in? and current_user.id == blog.user_id %>
            <%= link_to 'Edit', edit_blog_path(blog), :class=>"btn btn-info btn-xs" %>
            <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path(params: {community_id: @community.id}) %>
