<p id="notice"><%= notice %></p>


<h3><%= link_to @blog.community.title, community_path(@blog.community) %></h3>

<p>
  <h2><%= @blog.title %></h2>
</p>

<p>
  <%= RedCloth.new(@blog.body).to_html.html_safe %>
</p>


<% if signed_in? and @blog.user_id == current_user.id %>
	<%= link_to 'Edit Blog', edit_blog_path(@blog), :class=>"btn btn-info btn-xs" %>
<% end %>

<hr />

<div id="new_comment" class="row">
	<%= render 'comments/form', comment: @comment, blog_id: @blog.id %>
</div>

<div id="comments" class="row">
	<%= render 'comments/index', blog: @blog, comments: @comments %>
</div>